
body {
  font-family: Arial, sans-serif;
  background: #B2D8D0;
  margin: 20px;
}

main {
  max-width: 600px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #000000; 
  margin-bottom: 20px;
}


form {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Fieldset */
fieldset {
  border: 2px solid#000000; 
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
}

/* Legenda do fieldset */
legend {
  font-weight: bold;
  color:#000000; 
  padding: 0 6px;
}

/* Parágrafo usado para campos lado a lado */
p {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/* Label e input */
label {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 14px;
  color: #1b1b1b;
}

/* Inputs */
input {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  background: #fafafa;
  color: #000;
  transition: 0.3s;
}

input:focus {
  border-color: #FFCC00;
  outline: none;
  background: #ffffff;
  box-shadow: 0 0 0 2px rgba(46, 125, 50, 0.2);
}

/* Botão */
button {
  width: 100%;
  padding: 12px;
  background: #272e27; 
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1b5e20; /* mais escuro no hover */
}

/* Campos obrigatórios */
.required-field {
  color: #d32f2f;
  margin-left: 4px;
  font-weight: bold;
}

/* RESPONSIVO - telas pequenas */
@media (max-width: 600px) {
  p {
    flex-direction: column; /* empilha os campos */
  }

  main {
    margin: 10px;
  }

  form {
    padding: 15px;
  }
}
 