body {
  font-family: Arial, sans-serif;
  background: #549373;
  margin: 20px;
}

main {
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #000000; 
  margin-bottom: 20px;
}

form {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Fieldset */
fieldset {
  border: 2px solid #000000; 
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;

  display: flex;
  flex-direction: column;
}

/* Legenda */
legend {
  font-weight: bold;
  color: #000000; 
  padding: 0 6px;
}

/* LINHAS lado a lado */
p {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/* LABEL */
label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #1b1b1b;
}

/* INPUT */
input {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  background: #fafafa;
  color: #000;
}

input:focus {
  border-color: #FFCC00;
  outline: none;
  background: #ffffff;
  box-shadow: 0 0 0 2px rgba(46, 125, 50, 0.2);
}

/* ERROS */
.error {
  display: block;
  width: 100%;
  color: #d32f2f;
  font-size: 12px;
  margin-top: 4px;
}

input[aria-invalid="true"] {
  border: 2px solid #d32f2f;
  background: #fff5f5;
}

/* RADIO */
input[type="radio"] {
  width: auto;
  margin-right: 6px;
}

fieldset p {
  flex-wrap: wrap;
}

fieldset p label {
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#erro-sexo {
  flex-basis: 100%;
}

/* BOTÃO */
button {
  width: 100%;
  padding: 12px;
  background: #272e27; 
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1b5e20;
}

/* Campos obrigatórios */
.required-field {
  color: #d32f2f;
  margin-left: 4px;
  font-weight: bold;
}

/* RESPONSIVO */
@media (max-width: 600px) {
  p {
    flex-direction: column;
  }

  main {
    margin: 10px;
  }

  form {
    padding: 15px;
  }
}

/* ===================== */
/* 🔥 ESTILO DA TABELA */
/* ===================== */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #fffaf7;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

caption {
  
  text-align: center;
  margin-bottom: 50px; /* diminui espaço abaixo */
  font-weight: bold;
  color: #000;
}

thead {
  background: #272e27;
  color: #ffffff;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background: #f5f5f5;
}

th[scope="row"] {
  font-weight: bold;
}

.hint {
  font-size: 14px;
  margin-top: 10px;
  color: #333;
}

.caixa-tabela {
  background: #b0ecb8;
  max-width: 1100px;
  width: 95%; 
  margin: 50px auto;
  padding: 30px; 
  border-radius: 16px; 
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);

  display: flex;
  justify-content: center;
}


.caixa-tabela table {
  width: 100%;
}